@font-face {
    font-family: "font";
    src: url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
}

.main-container {
    background-repeat: no-repeat;
    background-image: url("../../images/background.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.sign-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
}

.sign-label {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: rgb(197, 197, 240);
}

.sign-input {
    border-width: 3px;
    margin-bottom: 15px;
    border-radius: 10px;
    size: 30px;
    padding: 7px;
    outline: none;
}

#submit-button {
    font-weight: bolder;
    border-radius: 10px;
    padding: 7px;
    font-size: 15px;
    font-weight: 30px;
    background-color: #1e369e;
    color: rgb(203, 203, 207);
}

#submit-button:hover {
    border-width: 10px;
    box-shadow: 0 0 1em #1e369e;
    cursor: pointer;
    border: solid;
}

#nav-button{
    font-weight: bolder;
    background: none;
    border: none;
    padding: 0;
    font-family: arial, sans-serif;
    color: rgb(209, 222, 231);
    text-decoration: underline;
    cursor: pointer;
}