@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


.home-container {
    background-repeat: no-repeat;
    background-image: url("../../images/1.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-button {
    margin: 30px;
    font-size: 25px;
    border: solid;
    border-radius: 20px;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

#login-button {
    font-size: 30px;
    font-weight: bold;
    border: 2px solid white;
    background-color: #ae3ee1;
    color: #fff;
    z-index: 1;
}

#login-button:after {
    position: absolute;
    border-radius: 20px;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: #8834bc;
    transition: all 0.3s ease;
}

#login-button:hover {
    color: #000;
}

#login-button:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

#login-button:active {
    top: 2px;
}

#register-button {
    font-size: 30px;
    font-weight: bold;
    border: 2px solid white;
    background-color: #b73b51;
    color: #fff;
    z-index: 1;
}

#register-button:after {
    position: absolute;
    border-radius: 20px;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: #9c396b;
    transition: all 0.3s ease;
}

#register-button:hover {
    color: #000;
}

#register-button:hover:after {
    left: 0;
    width: 100%;
}

#register-button:active {
    top: 2px;
}

#welcome-header {
    display: flex;
    justify-content: center;
    padding-left: 80px;
    padding-bottom: 10px;
    font-family: 'font', cursive;
    color: rgb(60, 56, 164);
    color: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(104, 104, 175, 1) 42%, rgba(0, 212, 255, 1) 100%);
    font-size: 60px;
}